body {
    font-family: Arial, sans-serif;
    margin: 0;
}
main {
    display: flex;
    gap: 20px;
    padding: 20px;
}
header {
    padding: 20px
}
main {
    display: flex;
}
html[dir="ltr"] aside {
    order: 0;
}
html[dir="ltr"] section {
    order: 1;
}
html[dir="rtl"] aside {
    order: 1;
}
html[dir="rtl"] section {
    order: 0;
}   
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }  